<form class="account-settings">
  <div class="panel hide-overflow">
    <a class="right button">Edit</a>
    <h3><strong>Name</strong>: Nick Comito</h3>
  </div>

  <div class="panel hide-overflow editing">
    <div class="small-3 small-push-9 columns">
      <a class="right button">Save</a>
    </div>
    <div class="small-9 small-pull-3 columns">
      <input type="text" value="Nick Comito">
    </div>
  </div>

  <div class="panel hide-overflow">
    <div class="small-3 small-push-9 columns">
      <a class="right button">Edit</a>
    </div>
    <div class="small-9 small-pull-3 columns">
      <h3><strong>Phone</strong>: (512) 553-6830</h3>
    </div>
  </div>

  <div class="panel hide-overflow">
    <div class="small-3 small-push-9 columns">
      <a class="right button">Edit</a>
    </div>
    <div class="small-9 small-pull-3 columns">
      <h3><strong>Email</strong>: nick@astonishdesign.com</h3>
    </div>
  </div>

  <div class="panel hide-overflow">
    <div class="small-3 small-push-9 columns">
      <div class="right button-group">
        <a class="button">View</a>
        <a class="button">Edit</a>
      </div>
    </div>
    <div class="small-9 small-pull-3 columns">
      <h3><strong>Password</strong>: *******</h3>
    </div>
  </div>
</form>