<div class="billboard">
  <div class="small-12 medium-7 large-8 columns">
    <h1 class="marbot-2">Everything should be made as simple as possible, but not simpler.</h1>
    <a class="button padall-1 padleft-5 padright-5">Click Me</a>
  </div>
  <div class="small-12 medium-5 large-4 columns">
    <img src="http://placehold.it/500x400">
  </div>
</div>