<div class="blog-teaser">
  <h2><a href="">Blog Post Title</a></h2>
  <p><span class="caption">John Smith&mdash;January 10, 2015</span></p>
  <img src="http://placehold.it/150x125" class="left marright-1 blog-image">
  <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna... <a href="">Continue Reading &raquo;</a></p>
</div>