<section class="row calendar collapse">
  <div class="small-12 medium-2 columns text-center month-box">
    <h2>MAR</h2>
    <span>2015</span>
  </div>
  <div class="small-12 medium-10 columns">
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="data-heading">Event</th>
          <th class="data-heading text-center">Starts</th>
          <th class="data-heading text-center">Ends</th>
          <th class="data-heading">Location</th>
          <th class="data-heading"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="odd"><a href="">Some Big Event</a></td>
          <td class="text-center"><h5>MAR<br>8</h5></td>
          <td class="text-center"><h5>MAR<br>10</h5></td>
          <td>Austin, TX</td>
          <td><a href="" class="button">Details <i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="even">
          <td><a href="">Some Big Event</a></td>
          <td class="text-center"><h5>MAR<br>8</h5></td>
          <td class="text-center"><h5>MAR<br>10</h5></td>
          <td>Austin, TX</td>
          <td><a href="" class="button">Details <i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="odd">
          <td><a href="">Some Big Event</a></td>
          <td class="text-center"><h5>MAR<br>8</h5></td>
          <td class="text-center"><h5>MAR<br>10</h5></td>
          <td>Austin, TX</td>
          <td><a href="" class="button">Details <i class="fa fa-arrow-right"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>