<form class="checkout">
  <section class="credit-card-info marbot-2">
    <h2>Credit Card Information</h2>
    <div class="credit-card-group">
      <label for="card-number">Credit Card Number</label>
      <input placeholder="1234 5678 9012 3456" pattern="[0-9]*" type="text" class="card-number" id="card-number">
      <label for="card-number">Expiration Date</label>
      <input placeholder="MM/YY" pattern="[0-9]*" type="text" class="card-expiration" id="card-expiration">
      <label for="card-number">CVV Number</label>
      <input placeholder="CVV" pattern="[0-9]*" type="text" class="card-cvv" id="card-cvv">
      <label for="card-number">Billing Zip Code</label>
      <input placeholder="ZIP" pattern="[0-9]*" type="text" class="card-zip" id="card-zip">
    </div>
  </section>

  <div class="row collapse">
    <div class="small-12 medium-6 columns">
      <section class="billing-info marbot-2 hide-overflow">
        <h2>Billing Information</h2>
        <div class="small-12 medium-6 columns">
          <input type="text" placeholder="Address" class="address1">
        </div>
        <div class="small-12 medium-6 columns">
          <input type="text" placeholder="City" class="city">
        </div>
        <div class="small-12 medium-6 columns">
          <select name="state" size="1" class="state">
            <option value="AK">AK</option>
            <option value="AL">AL</option>
            <option value="AR">AR</option>
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VA">VA</option>
            <option value="VT">VT</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>
            <option value="WV">WV</option>
            <option value="WY">WY</option>
          </select>
        </div>
        <div class="small-12 medium-6 columns">
          <input type="text" placeholder="Zip" class="zip">
        </div>

      </section>
    </div>

    <div class="small-12 medium-6 columns">
      <section class="shipping-info">
        <h2>Shipping Information</h2>
        <p class="same-as"><i class="fa fa-check"></i> Same as billing <a href="" class="marleft-2" id="change-shipping">Change</a></p>

        <div class="shipping-info hidden">
          <div class="small-12 medium-6 columns">
            <input type="text" placeholder="Address" class="address1">
          </div>
          <div class="small-12 medium-6 columns">
            <input type="text" placeholder="City" class="city">
          </div>
          <div class="small-12 medium-6 columns">
            <select name="ship-state" size="1" class="State">
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
            </select>
          </div>

          <div class="small-12 medium-6 columns">
            <input type="text" placeholder="Zip" class="zip">
          </div>
        </div>
      </section>
    </div>
  </div>
</form>