
// CHECKOUT RECEIPT
// ----------------

.checkout-receipt {
  table {
    border: 0;
    border-collapse: collapse;

    tr,
    td {
      background: none;
      border: 0;
      border-bottom: 1px solid #ccc;
      @media #{$large-up} {
        padding: .25rem;
      }
    }
  }

  tfoot {
    background: none;
  }

  .shipping-row {
    tr,
    td {
      border-bottom: 0;
    }
  }

  .total-row {
    tr,
    td {
      border-bottom: 2px solid #666;
      border-top: 2px solid #666;
    }
  }
}
