<div class="checkout-review">
  <h2>Review Your Order</h2>
  <table class="responsive-table">
    <tbody>
      <tr>
        <td>Widget</td>
        <td>1</td>
        <td class="text-right">$12.25</td>
      </tr>
      <tr>
        <td>Foobar</td>
        <td>1</td>
        <td class="text-right">$12.25</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="tax-row">
        <td>Sales Tax</td>
        <td colspan="4" class="text-right">1.50</td>
      </tr>
      <tr class="shipping-row">
        <td>Shipping: Standard Ground</td>
        <td colspan="4" class="text-right">5.00</td>
      </tr>
      <tr class="total-row">
        <td colspan="5" class="text-right text-normal">Total: $31.00</td>
      </tr>
    </tfoot>
  </table>

  <div class="small-12 medium-3 columns">
    <p><strong>Payment Method</strong></p>
    <p><img src="../images/cc-visa.png" width="40" class="left"> ending in 4431</p>
  </div>
  
  <div class="small-12 medium-3 columns">
    <p><strong>Billing Address</strong></p>
    <p>1701 Directors Blvd. Ste. 780<br/>Austin, TX 78744</p>
  </div>

  <div class="small-12 medium-3 columns">
    <p><strong>Shipping Address</strong></p>
    <p>720 Shipto Lane<br/>San Diego, CA 92012</p>
  </div>

  <a href="" class="button">Place Order</a>
</div>