<div class="checkout-receipt">
  <h2>Thank you for your order</h2>
  <div class="small-12 medium-6 columns panel">
    <a href="" class="button right">Print Receipt</a>

    <div class="clearfix"></div>

    <h3>Products</h3>
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="data-heading">Item</th>
          <th class="data-heading">Qty.</th>
          <th class="data-heading">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Widget</td>
          <td>1</td>
          <td class="text-right">$12.25</td>
        </tr>
        <tr>
          <td>Foobar</td>
          <td>1</td>
          <td class="text-right">$12.25</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tax-row">
          <td>Sales Tax</td>
          <td colspan="4" class="text-right">$1.50</td>
        </tr>
        <tr class="shipping-row">
          <td>Shipping: Standard Ground</td>
          <td colspan="4" class="text-right">$5.00</td>
        </tr>
        <tr class="total-row">
          <td colspan="5" class="text-right text-normal">Total: $31.00</td>
        </tr>
      </tfoot>
    </table    >

    <h3 class="martop-2">Payment Method</h3>
    <p><img src="../images/cc-visa.png" width="40" class="left"> ending in 4431</p>
  
    <h3 class="martop-2">Billing Address</h3>
    <p>1701 Directors Blvd. Ste. 780<br/>Austin, TX 78744</p>

    <h3 class="martop-2">Shipping Address</h3>
    <p>720 Shipto Lane<br/>San Diego, CA 92012</p>
  </div>
</div>