<div class="people-grid">
  <div class="person">
    <img src="http://placehold.it/800x800" alt="Roland Deschain">
    <h4 class="name">Roland Deschain</h4>
    <h5 class="job-title">Job Title</h5>
  </div>

  <div class="person">
    <img src="http://placehold.it/800x800" alt="Odetta Walker">
    <h4 class="name">Odetta Walker</h4>
    <h5 class="job-title">Job Title</h5>
  </div>

  <div class="person">
    <img src="http://placehold.it/800x800" alt="Eddie Dean">
    <h4 class="name">Eddie Dean</h4>
    <h5 class="job-title">Job Title</h5>
  </div>
</div>