<section class="profile">
  <div class="small-12 medium-2 columns text-center marbot-2">
    <img src="http://placehold.it/100x100" class="circle-mask">
  </div>

  <div class="small-12 small-text-center medium-text-left medium-10 columns">
    <h1><strong>Nick Comito</strong></h1>
    <h2 class="uppercase">Designer</h2>
  </div>

  <hr>

  <div class="small-12 medium-11 columns">
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.</p>
  </div>

  <div class="panel small-12 medium-1 columns">
    <ul class="no-bullets social text-large text-center">
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-dribbble"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
      <li><a href=""><i class="fa fa-stack-overflow"></i></a></li>
      <li><a href=""><i class="fa fa-codepen"></i></a></li>
    </ul>
  </div>
</section>