
// PROFILE
// -------

.profile {
  .panel {
    border: $scale-base/2 solid #e1e1e1;
  }

  .social {
    li {
      float: left;
      padding: 0 $scale1;

      @media #{$medium-up} {
        padding: 0;
      }
    }
  }
}

.circle-mask {
  @include border-radius(100%);
  border: $scale-base/2 solid #e1e1e1;
}
