<div class="project-grid">
  <div class="project">
    <img src="http://placehold.it/800x800">
    <h4 class="title">Project Title</h4>
  </div>

  <div class="project">
    <img src="http://placehold.it/800x800">
    <h4 class="title">Project Title</h4>
  </div>

  <div class="project">
    <img src="http://placehold.it/800x800">
    <h4 class="title">Project Title</h4>
  </div>
</div>