
// PROJECT GRID
// ------------

.project-grid {
  .project {
    border: 1px solid #fff;
    float: left;
    position: relative;
    width: 100%;

    @media #{$medium-up} {
      width: 33.33333%;
    }

    @media #{$large-up} {
      width: 25%;
    }

    &:before {
      background: rgba(0, 0, 0, .55);
      content: '';
      display: block;
      height: 33%;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .title {
    bottom: $scale-base;
    color: #fff;
    left: $scale-base;
    position: absolute;
  }
}
