<div class="shopping-cart">
  <table class="responsive-table">
    <thead>
      <tr>
        <th class="data-heading item">Item</th>
        <th class="data-heading image">Image</th>
        <th class="data-heading price">Price</th>
        <th class="data-heading qty">Qty</th>
        <th class="data-heading action text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Widget</td>
        <td><img src="http://placehold.it/80x80" alt="Product Image"></td>
        <td>$12.25</td>
        <td><input type="text" value="1"></td>
        <td class="text-right">
          <a href="">Remove</a>
        </td>
      </tr>
      <tr>
        <td>Foobar</td>
        <td><img src="http://placehold.it/80x80" alt="Product Image"></td>
        <td>$12.25</td>
        <td><input type="text" value="1"></td>
        <td class="text-right">
          <a href="">Remove</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-right text-normal">Subtotal (2 items): $24.50</td>
      </tr>
    </tfoot>
  </table>
  <a href="" class="button">Checkout</a>
</div>