// Payment

.js .credit-card-group {
  padding: 1rem;

  input[type="text"] {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .card-number,
  .card-expiration,
  .card-cvv,
  .card-zip {
    display: inline;
  }
}
