// Select2

.select2-container {
  display: block;
  margin-bottom: 1rem;

  .select2-choice {
    background: #fff;
    color: #333;
    font-size: .875rem;
    height: 2.3125rem;
    padding: .25rem .5rem;
    text-shadow: none;
  }
}