<div class="author-summary">
  <a href=""><img src="http://placehold.it/65x65" class="left marright-1 author-image"></a>
  <h3><a href="">John Smith</a></h3>
  <span class="caption">Job Title</span>
</div>