<!-- Steps Range from 3 to 6 -->
<ul class="contextual-steps four text-center">
  <li class="step">
    <div class="step-number">1</div>
    <div class="step-text">Whiteboards</div>
  </li>
  <li class="step active">
    <div class="step-number">2</div>
    <div class="step-text">ClickModel</div>
  </li>
  <li class="step">
    <div class="step-number">3</div>
    <div class="step-text">UI</div>
  </li>
  <li class="step">
    <div class="step-number">4</div>
    <div class="step-text">Software</div>
  </li>
</ul>