
// CONTEXTUAL STEPS
// ----------------

.contextual-steps {
  display: block;
  margin: 0;

  .step {
    @extend .padall-1;
    @media #{$medium-up} {
      padding: $scale3;
    }
    background: #eee;
    float: left;
    list-style: none;
    list-style-type: none;
    margin: 0;
    
    &.active {
      background: #666;
      color: #fff;

      .step-text {
        background: #555;
      }
    }
  }

  .step-number {
    @extend .text-xlarge;
  }

  .step-text {
    @include border-radius($scale-base);
    @extend .uppercase;
    @extend .text-small;
    background: #ccc;
  }

  // Sizing

  &.six {
    .step {
      width: 50%;

      @media #{$medium-up} {
        width: 33.33333%;
      }

      @media #{$large-up} {
        width: 16.66667%
      }
    }
  }

  &.five  {
    .step {
      width: 50%;

      @media #{$medium-up} {
        width: 33.33333%;
      }

      @media #{$large-up} {
        width: 20%;
      }
    }
  }

  &.four {
    .step {
      width: 50%;

      @media #{$large-up} {
        width: 25%;
      }
    }
  }

  &.three {
    .step {
      width: 33.33333%;
    }
  }

  // Best not to have fewer than three steps
}