<div class="small-5 columns">
  <div class="cta">
    <div class="cta-contents">
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button expand">Click Here</a>
    </div>
  </div>
</div>

<div class="small-7 columns">
  <div class="cta">
    <img src="http://placehold.it/800x300">
    <div class="cta-contents">
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button expand">Click Here</a>
    </div>
  </div>
</div>

<div class="small-3 columns">
  <div class="cta">
    <img src="http://placehold.it/200x400">
    <div class="cta-contents">
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button expand">More</a>
    </div>
  </div>
</div>

<div class="small-4 columns">
  <div class="cta">
    <div class="cta-contents">
      <img src="http://placehold.it/400x400" />
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button expand">Click Here</a>
    </div>
  </div>
</div>

<div class="small-5 columns">
  <div class="cta">
    <div class="cta-contents">
      <img src="http://placehold.it/120x120" class="left" />
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button">Click Here</a>
    </div>
  </div>
</div>

<div class="small-5 columns">
  <div class="cta">
    <div class="cta-contents">
      <img src="http://placehold.it/120x120" class="right" />
      <h2>Call To Action</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="button">Click Here</a>
    </div>
  </div>
</div>