
// CALLS TO ACTION
// ---------------

.cta {
  background: #eee;
  border: 2px solid #ccc;
  overflow: hidden;

  img {
    width: 100%;

    &.left,
    &.right {
      width: auto;
      @extend .marbot-2;
    }

    &.left {
      @extend .marright-2;
    }

    &.right {
      @extend .marleft-2;
    }
  }
}

.cta-contents {
  @extend .padall-2;

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }

  button,
  .button {
    @extend .marbot-0;
  }

  &.wide {
    
  }

  &.skinny {
    
  }
}