<aside class="faceted-search">
  <h4><strong>Facets</strong></h4>
  <ul class="no-bullets">
    <li><input type="checkbox" id="facet1"><label for="facet1">Facet</label></li>
    <li><input type="checkbox" id="facet2"><label for="facet2">Facet</label></li>
    <li><input type="checkbox" id="facet3"><label for="facet3">Facet</label></li>
    <li><input type="checkbox" id="facet4"><label for="facet4">Facet</label></li>
  </ul>
</aside>