
// FILTERS
// -------

.filters {
  @include transition(max-height, .4s, ease-in-out);
  float: left;
  max-height: 0;
  min-height: 30px;
  overflow: hidden;
  width: 100%;

  &.expanded {
    @include transition(max-height, .4s, ease-in-out);
    max-height: 350px;

    @media #{$medium-only} {
      max-height: 520px;      
    }

    @media #{$small-only} {
      max-height: 1000px;      
    }
  }
}
