<div class="filters">
  <h4><a href="#" class="expand-collapse-trigger"><i class="fa fa-plus textXSmall"></i> Filter Results</a></h4>

  <div class="small-12 medium-6 large-2 columns">
    <label for="filter-startDate">Date From</label>
    <input type="text" id="filter-startDate" class="datepicker" />
  </div>

  <div class="small-12 medium-6 large-2 columns">
    <label for="filter-endDate">To</label>
    <input type="text" id="filter-endDate" class="datepicker" />
  </div>

  <div class="small-12 medium-6 large-2 columns">
    <label for="filter-one">Filter One</label>
    <select multiple class="multiselect">
      <option></option>
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
      <option>Option Four</option>
    </select>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <label for="filter-two">Filter Two</label>
    <select multiple class="multiselect">
      <option></option>
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
      <option>Option Four</option>
    </select>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <label for="filter-three">Filter Three</label>
    <select multiple class="multiselect">
      <option></option>
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
      <option>Option Four</option>
    </select>
  </div>

  <div class="small-12 medium-6 large-3 columns noPadRight">
    <label for="status">Show only</label>
    <select>
      <option>Status One</option>
      <option>Status Two</option>
      <option>Status Three</option>
      <option>Status Four</option>
    </select>
  </div>

  <div class="small-12 medium-6 large-6 columns noPadRight">
    <a href="" class="right button small">Filter</a>
  </div>
</div>