<div id="forgot-password">
	<div class="row collapse">
		<h1>Forgot Your Password?</h1>
		<p>Enter your email address below and we'll send you a new password.</p>
		<div class="small-12 columns">
			<input type="text" placeholder="Username or Email" />
		</div>
    
		<div class="small-12 columns">
			<button class="small">Email New Password</button>
		</div>
	</div>
</div>