
// IMPERSONATION
// -------------

.impersonation {
  background: rgba(0, 0, 0, .70);
  color: #fff;
  padding: $scale-base;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  * {
    color: #fff;
  }

  p:last-child {
    margin: 0;
  }

  a {
    color: #f00;
  }
}
