<div class="row collapse">
	<div class="island">
		<div class="island-header">
			<h2>Island Header</h2>
			<div class="button-container">
				<button class="small"><i class="fa fa-cog"></i> Settings</button>
				<button class="small"><i class="fa fa-search"></i> Search</button>
			</div>
		</div>

		<div class="island-contents">
			<p>This is where the content will go. You can put paragaphs in here, you can put lists, and buttons, and tables and pretty much anything else your heart desires. It's a basic container so go nuts.</p>
		</div>
	</div>
</div>