<div class="small-12 medium-5 large-4 small-centered columns">
  <form class="login" data-abide="ajax"><img src="http://placehold.it/300x125.png" alt="Logo" id="app-logo">
    <input type="text" id="username" placeholder="username" required pattern="alpha_numeric">
    <small class="error">Please enter your username.</small>

    <input type="password" id="password" placeholder="password" required>
    <small class="error">Please enter your password.</small>

    <a href="" class="button expand">Log In</a>
    <p class="textSmall"><a href="" >Forgot your password?</a> It happens.</p>
  </form>
</div>