
// MESSAGES
// --------

.message {
  background: #f1f1f1;
  color: #222;
  font-size: 1.5em;
  padding: $scale-base;
  position: relative;

  p {
    font-size: 1.05rem;
    line-height: 1.25rem;
    @media #{$medium-up} {
      font-size: 1.25rem;
      line-height: 1.45rem;
    } 
  }

  // Alert
  &.alert {
    background: #f5423b;
    * {color: #fff;}
  }

  // Success
  &.success {
    background: #49ba5d;
    * {color: #fff;}
  }

  // Warning
  &.warning {
    background: #f5d958;
    * {color: #403817;}
  }

  // Notice
  &.note {
    background: #5faac7;
    * {color: #fff;}
  }

  // Prevent extra bottom spacing in message box
  *:last-child {
    margin: 0;
  }
}
