<div class="message">
	<p>This is a default message, but you can change it by adding classes like: success, error, note, and warning.</p>
</div>

<div class="message success">
	<p>This is a success message.</p>
</div>

<div class="message alert">
	<p>This is an alert.</p>
</div>

<div class="message note">
	<p>This is a note.</p>
</div>

<div class="message warning">
	<p>This is a warning.</p>
</div>