<table class="responsive-table">
<thead>
  <tr>
    <th class="data-heading">Date</th>
    <th class="data-heading">Quantity</th>
    <th class="data-heading">Rate</th>
    <th class="data-heading">Status</th>
    <th class="data-heading">Total</th>
  </tr>
</thead>

<tbody>
  <tr class="odd">
    <td>10/12/2014</td>
    <td>21</td>
    <td>24%</td>
    <td>Open</td>
    <td>54</td>
  </tr>

  <tr class="even">
    <td>1/12/2015</td>
    <td>41</td>
    <td>44%</td>
    <td>Closed</td>
    <td>104</td>
  </tr>

  <tr class="odd">
    <td>12/18/2014</td>
    <td>29</td>
    <td>26%</td>
    <td>Closed</td>
    <td>59</td>
  </tr>
</tbody>
</table>