
// SEARCH
// ------

.search {
  input {
    float: left;
    width: 75%;

    @media #{$medium-up} {
      width: 85%;
    }
  }

  button,
  .button {
    @include border-radius(0 2px 2px 0);
    height: 2.3rem;
    width: 25%;
    
    @media #{$medium-up} {
      width: 15%;
    }
  }
}
