<div id="signup">
	<div class="row collapse">
		<h1>Sign Up</h1>
		<div class="small-8 medium-10 columns">
			<input type="text" placeholder="Email Address" />
		</div>
    
		<div class="small-4 medium-2 columns">
			<button class="small">Sign Up</button>
		</div>
	</div>
</div>