<div id="login">
	<div class="row collapse">
		<h1>Sign In</h1>
		<div class="small-12 columns">
			<input type="text" placeholder="Username or Email" />
		</div>

		<div class="small-9 medium-11 columns">
      <input type="text" placeholder="Password" />
    </div>
  
  	<div class="small-3 medium-1 columns">
      <span class="postfix">
      	<a href="" data-tooltip class="has-tip" title="Forgot your password?"><i class="fa fa-question"></i></a>
      </span>
    </div>
    
		<div class="small-4 columns">
			<button class="small">Sign In</button>
		</div>
	

	<div class="small-8 columns text-right">
		<p>Not a member? <a href="">Sign Up&nbsp;&raquo;</a></p>
	</div>
	</div>
</div>