<h5 class="supernav padTop-5 large-text-right">Logged in as <em>Firstname Lastname</em> <span class="glyphicons chevron-right textXSmall"></span><a href="">My&nbsp;Account</a><a href="/">Sign&nbsp;Out</a></h5>