
// SUPERNAV
// --------

.supernav {
  @extend .text-small;
  @include border-radius(30px);
  background: #efefef;
  font-family: $heading-text;
  font-size: .8rem;
  padding: $scale-base;
  position: relative;
  text-align: center;

  @media #{$medium-up} {
    background: none;
    padding: 0;
    text-align: right;
  }

  a {
    @include border-radius(30px);
    background: #fff;
    border: 2px solid #eee;
    color: #999;
    margin: 0 4px;
    padding: 0 8px;

    @media #{$small-only} {
      border-color: #888;
      display: inline-block;
      margin: 2px 4px;
    }

    &:hover {
      color: #333;
      border-color: #666;
      text-decoration: none;
    }
  }
}
