
// TAGS
// ----

.tags {
  @extend %hide-overflow;
  @extend %marbot-1;

  ul {
    font-size: $scale-1;
    margin: 0;
  }

  li {
    float: left;
    list-style: none;
  }

  a {
    background: #ddd;
    display: inline-block;
    padding: .5rem;
  }

  .horizontal {
    li {
      @extend %marright-1;
    }
  }

  .vertical {
    li {
      @extend %marbot-1;
      clear: left;
    }
  }
}
