/*----- General reusable Styles -----*/

strong {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.martop-0 {
  margin-top: 0;
}
.martop-base {
  margin-top: .5rem;
}
.martop-1 {
  margin-top: 1rem;
}
.martop-2 {
  margin-top: 2rem;
}
.martop-3 {
  margin-top: 3rem;
}
.martop-4 {
  margin-top: 4rem;
}
.martop-5 {
  margin-top: 5rem;
}

.marbot-0 {
  margin-bottom: 0;
}
.marbot-base {
  margin-bottom: .5rem;
}
.marbot-1 {
  margin-bottom: 1rem;
}
.marbot-2 {
  margin-bottom: 2rem;
}
.marbot-3 {
  margin-bottom: 3rem;
}
.marbot-4 {
  margin-bottom: 4rem;
}
.marbot-5 {
  margin-bottom: 5rem;
}
.marright-0 {
  margin-right: 0 !important;
}
.marright-base {
  margin-right: .5rem;
}
.marright-1 {
  margin-right: 1rem;
}
.marright-2 {
  margin-right: 2rem;
}

.marright-3 {
  margin-right: 3rem;
}

.marright-4 {
  margin-right: 4rem;
}

.marright-5 {
  margin-right: 5rem;
}

.marleft-1 {
  margin-left: 1rem;
}

.marleft-2 {
  margin-left: 2rem;
}

.marleft-3 {
  margin-left: 3rem;
}

.marleft-4 {
  margin-left: 4rem;
}

.marleft-5 {
  margin-left: 5rem;
}
.marbot-0 {
  margin-bottom: 0;
}
.marall-0 {
  margin: 0;
}

.padtop-base {
  padding-top: .5rem;
}
.padtop-1 {
  padding-top: 1rem;
}
.padtop-2 {
  padding-top: 2rem;
}
.padtop-3 {
  padding-top: 3rem;
}
.padtop-4 {
  padding-top: 4rem;
}
.padtop-5 {
  padding-top: 5rem;
}
.padtop-6 {
  padding-top: 6rem;
}

.padbot-1 {
  padding-bottom: 1rem;
}
.padbot-2 {
  padding-bottom: 2rem;
}
.padbot-3 {
  padding-bottom: 3rem;
}
.padbot-4 {
  padding-bottom: 4rem;
}
.padbot-5 {
  padding-bottom: 5rem;
}
.padbot-6 {
  padding-bottom: 6rem;
}
.padright-5 {
  padding-right: 5rem !important;
}
.padleft-5 {
  padding-left: 5rem !important;
} 
.padall-0 {
  padding: 0;
}
.padall-base {
  padding: .5rem !important;
}
.padall-1 {
  padding: 1rem !important;
}
.padall-2 {
  padding: 2rem;
}
.padall-3 {
  padding: 3rem;
}
.height-20 {
  height: 20rem;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, .2);
}
.border-left {
  border-left: 1px solid rgba(255, 255, 255, .2);
}
.box-shadow-left {
  box-shadow: -2px -5px 5px 0 rgba(0, 0, 0, 0.16), -2px -5px 10px 0 rgba(0, 0, 0, 0.12)
}
.box-shadow-right {
  box-shadow: 2px -5px 5px 0 rgba(0, 0, 0, 0.16), -2px -5px 10px 0 rgba(0, 0, 0, 0.12)
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden !important;
}
.text-top {
  vertical-align: top;
}

.fake-link {
  cursor: not-allowed;
}

/*----- Materialize Overrides -----*/

html {
  font-family: "open sans", "roboto", "helvetica-neue", helvetica, sans-serif;
}

body {
  background: #E6ECED;
}
footer {
  border-top: 1px solid $secondary-color;
  margin-top: 4em;
}

.brand-logo {
  @extend .marleft-1;
}

/* Primary Navigation */
.top-nav {
  height: 30px;

  nav {
    height: 30px;
    line-height: 30px;
  }
}

input.datepicker, input.time {
  height: 2.55rem;
}

nav .input-field input[type=search] {
  margin: 0;
  width: 0;

  &:focus {
    width:200px;
  }
}

nav a {
  position: relative;
  
  .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    top: 11px;
    display: inline-block;
    vertical-align: middle;
  }
}

.circle-container {
  border-radius: 80%;
  border: 4px solid $primary-color;
  width: 45%;
  margin: 0 auto;
  padding: 1rem 0;
}


.absolute {
  position:absolute;

  &.bg-image {
    left: 0px;
    right: 0px;
    overflow: hidden;
    width: 100%;
    z-index: -9;
    opacity: .5;
  }
  &.top {
    top: 0px;
  }
}
.bg-image.business {
  background-image: url('/images/bigstock-Business-Conversation-1784671.jpg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
}

.collection .collection-item.avatar {
  min-height: 100px;
  overflow: hidden;
}

.circle.small {
  height: 50px;
}

.secondary-content img {
  position: absolute;
  top:-80px;
  left:-250px;
}
.secondary-content .btn {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 3px;
}

.fit-score {
  height: 63px;
  line-height: 63px;
  float: left;
  margin-right: 20px;
  font-size: 1.5em;
}

span.pellet {
  border-radius: 3px;
  height: 15px;
  line-height: 15px;
  background-color: #D9DBDC;
  color: #666;
  padding: 0 10px;
  font-size: 11px;
  display: inline-block;
  margin-left: 10px;
}
.collapsible-body .froala-box p {
  padding: 0;
}

.bullseye-container {
  color: #777;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 71px;
  float: left;

  .bullseye {
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: 11px;
  }

  .skill {
    background-color: #40d09b;
    color: #216b50;
    width: 71px;
    height: 71px;
    top: 0;
    left: 89px;
    line-height: 71px;
  }

  .scorecard {
    background-color: #4092d0;
    color: #214b6b;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 0;
    line-height: 60px;
    text-indent: -2px;

    &.ninety {
      left: 95px;
      text-indent: -190px;
      color: #ccc;

      &:before {
        border-radius: 50%;
        border: 2px dashed lighten(#4092d0, 15%);
        height: 60px;
        width: 60px;
        content: "";
        position: absolute;
        left: -95px;
      }
    }

    &.eighty {
      left: 95px;
      text-indent: -190px;
      color: #ccc;

      &:before {
        border-radius: 50%;
        border: 2px dashed lighten(#4092d0, 15%);
        height: 60px;
        width: 60px;
        content: "";
        position: absolute;
        left: -95px;
      }
    }
  }

  .will {
    background-color: #f1e24b;
    color: #7c7426;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 185px;
    line-height: 40px;

    &.ninety {
      left: 105px;
      text-indent: 90px;
      color: #ccc;

      &:before {
        border-radius: 50%;
        border: 2px dashed lighten(#f1e24b, 15%);
        height: 40px;
        width: 40px;
        content: "";
        position: absolute;
        left: 80px;
      }
    }
  }
}

.sidebar {
  position: relative;
  margin-top: 5rem;
}

.progression {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-left: 15px solid #d4d4d4;
  margin-left: 10px;
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 1;
}
.interview {
  min-width: 128px;
  position: relative;
  z-index: 2;
}
.reports {
  .data-bar {
      z-index: 10;
      background-color: #fff;
      position: absolute;
      top: 95px;
      left: 60%;
      width: 80%;

      &::after {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent; 
        border-left: 20px solid #4CAF50;
        content:"";
        position: absolute;
        width: 0;
        height: 0;
        left: 100%;
        top: 0;
      }
  }
  .interview {
    width: 100%;
  }
}

/*----- Froala Editor Overrides -----*/
.froala-box {
  @extend .z-depth-1;

  ul li {
    list-style: disc;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}

.froala-editor {
  border: 0;
}

.froala-editor.f-basic {
  background: #fff;
}

.froala-editor button.fr-bttn,
.froala-editor button.fr-trigger {
  font-size: 12px;
  border-right: 1px solid #e4e4e4;
  line-height: 20px;

  &:first-child {
    border-left: 0;
  }
  &:last-child {
    border-right: 0;
  }
}

.froala-editor button.fr-bttn i, .froala-editor button.fr-trigger i {
  line-height: 20px;
}

.froala-wrapper.f-basic {
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
}
.froala-editor .fr-dropdown .fr-dropdown-menu {
  top: 20px;
  background-color: $primary-color;
  border: 0;
}
.froala-editor .fr-trigger {
  top: -2px;
  position: relative;

}
.froala-editor .fr-trigger:after {
  top: 8px;
}
.fr-bttn.fr-dropdown {
  height: 20px;
  padding-left: 3em !important;
}
.froala-editor .fr-dropdown .fr-trigger {
  width: 100px;
}
.froala-editor .fr-dropdown .fr-dropdown-menu li a {
  padding: 5px 10px;
  color: #fff;

  &:hover {
    background-color: rgba(255,255,255,.1) !important;
  }
}

.fr-bttn.active {
  background: #333 !important;
  color: #fff !important;
}

/*----- Pie/bar/legend Chart Overrides -----*/
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:#666; }
.axis {  font: 10px sans-serif; }
.pie-legend tr{    border-bottom:1px solid grey; }
.pie-legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.pie-legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.pie-legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

/* Color Overrides */

.btn.promote {
  background: $primary-color;
  margin: 0 0 .5rem 0 !important;
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: left;
  
  &:hover {
    background: lighten($primary-color, 10%);
  }
}

.btn.dismiss {
  background: #5d5d58;
  margin: 0 0 .5rem 0 !important;
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: left;

  &:hover {
    background: lighten(#5d5d58, 10%);
  }
}

th, td {
  padding: .5rem 0;
}

table {
  &.striped,
  &.hoverable,
  &.white {
    background-color: #fff;

    th, td {
      padding: .5rem 1rem;
    }
  }
  &.inner-lists {
    p {
      padding: 0;
    }
    ul {
      list-style: disc outside none;
      padding-left: 20px;
      li {
        list-style-type: disc;
      }
    }
  }
  td {
    vertical-align:top;
  }
}
.modal.bottom-sheet {
  table {
    tr {
      td:first-child {
        min-width: 250px;
      }
    }
  }
}
.col-rating {
  min-width: 90px;
}
.col-comments {
  min-width: 600px;
}

table.bordered > thead > tr, table.bordered > tbody > tr {
  border-color: darken(#E6ECED, 10%);
}

.filters {
  background: #fff;
  float: left;
  width: 100%;
  padding: .5rem .5rem 1.5rem .5rem;
}

.table-of-contents {
  a:hover {
    border-color: $primary-color;
    border-width: 4px;
  }

  a.active {
    @extend .z-depth-1;
    background: #fff !important;
    color: #333;
    display: block;
    border-color: $primary-color;
    border-width: 4px;
  }
}

.process-container {
  .col {
    border: 2px solid #E6ECED;
    border-bottom: 0;
    border-top: 0;
  }

  .dark {
    background: $secondary-color;
    color: #fff;

    label {
      color: #fff;
    }
  }

  .material-icons {
    color: lighten($secondary-color, 25%);
    font-size: 3rem;
    top: 20px;
    right: -25px;
    z-index: 20;
  }
}

.good-color {
  color: #49b914;
}

.bad-color {
  color: #c51630;
}

.dark-color {
  color: #222;
}
.pieContainer {
  width: 100%;
}
.pieBackground {
  background-color: #4CAF50;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  width: 250px;
  height: 250px;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
} 
.pie {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 250px;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
  clip: rect(0px, 125px, 250px, 0px);
}
.hold {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 250px;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
  clip: rect(0px, 250px, 250px, 125px);
}
#pieSlice1 .pie {
  background-color: #c51630;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -o-transform:rotate(216deg);
  transform:rotate(216deg);
}

/* Select 2 Overrides */
.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #9e9e9e; 
  border-radius: 0px;
  line-height: 30px;
}