.tabs {
  position: relative;
  height: 40px;
  background-color: $tabs-bg-color;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;

  .tab {
    display: block;
    float: left;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%;

    a {
      color: $tabs-text-color;
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);

      &:hover {
        color: lighten($tabs-text-color, 20%);
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: $secondary-color;
    will-change: left, right;
  }
}

.tabs .tab { padding: 0; }

